@import "../def";

:local(.PlainPage) {
	margin: 10px;

	.styles();

	:local(.PlainPageList) {
		display: flex;
		align-items: flex-start;
		align-content: center;
		flex-direction: column;
	}

	:local(.PageZone) {
		background: #e0e0e0;
		border: 1px solid black;
		border-radius: 5px;
		padding: 10px;
		width: calc(100% - 22px);

		& > :local(.PageZone) {
			margin-bottom: 10px;
		}
	}
}