
.styles() {
	h1 {
		font-size: 18pt;
	}
	h3 {
		font-size: 13pt;
	}
	p {
		font-size: 13px;
	}
	code {
		font-family: Consolas, "Lucida Console", Monaco, monospace;
		border-radius: 3px;
		padding: 2px;
		border: 1px solid #cbcbcb;
		background: #dcdcdc;
	}
	a {
		color: dodgerblue;
		&:visited {
			color: dodgerblue;
		}
	}
}