<template>
	<script type="text/javascript">
		let item = window["@cuaatt/examples"];
		let app = document.createElement("div");
		document.body.appendChild(app);
		item.render(app);
	</script>
</template>
