
:local(.Example) {
	margin: 10px 0;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	border: 1px dotted gray;
	border-radius: 4px;
	width: 100%;
	background: white;

	div {
		font-size: 10pt;
		flex-grow: 1;
		min-width: 100px;
		margin: 10px;
	}

	code {
		font-family: Consolas, "Lucida Console", Monaco, monospace;
		border-radius: 3px;
		padding: 2px;
		border: 1px solid #cbcbcb;
		background: #dcdcdc;
		font-size: 8pt;
		margin: 10px;
	}
}