@import "../def";

:local(.MainPage) {
	margin: 10px;

	.styles();
}

:local(.LibraryType) {
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;

	:local(.LibraryItem) {
		margin: 10px;
		background: #cbcbcb;
		border-radius: 10px;
		padding: 20px;
		text-align: center;
		width: 150px;
		height: 150px;
		display: flex;
		flex-direction: column;
		cursor: pointer;
		transition: ease-out 100ms;

		b {
			display: block;
			margin: 10px;
		}
		span {
			font-size: 10pt;
		}

		&:local(.LibraryItemHover) {
			transform: scale(1.1);
			transform-origin: center center;
		}
	}
}